/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('right_background.avif') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 800px; /* Adjusted for a wider appearance */
    padding: 40px; /* Increased padding for a spacious feel */
    background: rgba(255, 255, 255, 0.85); /* Light background for clarity */
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

/* Form Styles */
.login-form,
.signup-container {
    width: 100%;
    padding: 30px; /* Increased padding for larger forms */
    border-radius: 20px;

}

h1, h2 {
    text-align: center; /* Centered headers */
    color: #333;
    margin-bottom: 20px; /* Space below headers */
}

.input-group {
    margin-bottom: 20px; /* Increased space between input groups */
}

.input-group label {
    display: block;
    color: #333;
    font-weight: bold;
}

.form-control {
    width: 85%;
    max-width: 500px;
    padding: 15px; /* Increased padding for better touch target */
    border: 2px solid #ff5e57;
    border-radius: 20px;
    background-color: #f7f9fc;
    font-size: 1rem;
    transition: border-color 0.4s ease;
    text-align: center;
    align-items: center;
}

.form-control:focus {
    border-color: #d83a56;
    outline: none;
}

.error-message {
    color: #e74c3c;
    font-size: 0.85rem;
}

.btn {
    width: 70%;
    padding: 15px; /* Increased button padding */
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.3s ease;
}

.btn-primary {
    background-color: #ff6f61;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #d83a56;
}

p {
    text-align: left;
    margin-top: 1px;
}

p a {
    color: #ff5e57;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

p a:hover {
    color: #d83a56;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack forms vertically on small screens */
    }
}
